{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Batman</h1>
        <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit veniam dolorum at architecto, ut laborum laudantium minima dignissimos officia repudiandae cum voluptate voluptatum, nesciunt placeat quo voluptatibus distinctio nulla eveniet.
            </p>
        </blockquote>
    </div>

    <div class="col-4">
        <img src="assets/img/batman.jpeg" class="img-thumbnail">
    </div>

</div>

{{> footer }}